    <div class="conteiner">
    <div class="row">
    <% @empresas.each do |empresa| %>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <% if empresa.imagem.present? %>
          <%= image_tag(empresa.imagem, :size => '360x205')  %>
          <% else %>
          <%= image_tag("default.png", :size => '360x205')%>
          <% end %>
        </a>
        <h3>
            <a href="#"><%= empresa.nome %></a>
        </h3>
        <p><%= empresa.descricao %><br><%= link_to 'Mostrar mais |', empresa%>
          <%if current_user.try(:admin)%><%= link_to 'Editar |', edit_empresa_path(empresa) %><%end%>
          <%if current_user.try(:admin)%><%= link_to 'Excluir', empresa, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir essa empresa?' } %><%end%>
        </p>

      </div>

            <% @count+= 1 %>
            <%if @count > 3 %>
              </div>
              <div class="row">
              <% @count = 1 %>
            <% end %>

   <% end %>
   </div>
   <div class="conteiner"><%= will_paginate @empresas %></div>
</table>
