<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Empresa
                <small><%= @empresa.nome %></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <% if @empresa.imagem.present? %>
              <%= image_tag(@empresa.imagem_url, :size => '700x400') %>
            <%else%>
              <%= image_tag("default.png", :size => '700x400') %>
            <%end%>
        </div>

        <div class="col-md-4">
            <h3>Descrição da Empresa</h3>
            <p><%= @empresa.descricao%></p>
            <h3>Detalhes</h3>
            <ul>
                <li>Telefone: <%= @empresa.telefone%></li>
                <li>Endereço: <%= @empresa.endereco%></li>
            </ul>
        </div>
    </div><p>
</p>

<%if current_user.try(:admin) %>
  <%= link_to 'Editar', edit_empresa_path(@empresa) %> |
  <%= link_to 'Excluir', @empresa, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir essa empresa?' } %> | 
<%end%>
<%= link_to 'Voltar', empresas_path %>
