<!DOCTYPE html>
<html>
  <head>
    <title>DivulgaWeb</title>
    <%= csrf_meta_tags %>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/portfolio-item.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>
              <% if user_signed_in? %>
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acessar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Lista de Empresas', empresas_path %></li>
                    </ul>
                  </li>
                </ul>
              <% end %>
              
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gerenciar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Nova Empresa', new_empresa_path %></li>
                    </ul>
                  </li>
                </ul>
              
              <ul class="nav navbar-nav pull-right">
                  <% if user_signed_in? %>
                    <li class="navbar-text"><%= current_user.email%></li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                  <% else %>
                    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
                    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                  <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    </nav>
    <header>
      <div class="container">
        <h2><%= @page_title %></h2>
      </div>
    </header>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  		<%= yield %>
    </div>
	</div>

  <footer>
      <div class="row modal-footer">
          <div class="col-lg-12">
              <p>Copyright &copy; FGA - UnB 2017</p>
          </div>
      </div>
      <!-- /.row -->
  </footer>
  </body>
</html>
